<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Directives Isolated Scope</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="./angular.min.js" type="text/javascript"></script>
</head>
<!--All-->
<body ng-app="myapp">
    <div ng-controller="myCtrl">
        <p>First Variable 'name' is {{name}}</p>
        <p>Second Variable 'age' is {{age}}</p>
        <button ng-click="alertTheName();">Alert the name</button>
        <hr/>
        <p>------------------------------Directives----------------------------------</p>
        <div my-first-directive name="{{name}}" age="age" func="alertTheName();"></div>
       
    </div>

    <script>
        var app = angular.module('myapp', []);

        app.directive('myFirstDirective', function () {
           
            return {
                retrict: 'EA',
                scope:{
                    name:'@',               //attribute name must be same
                    age:'=',
                    func:'&'   
                },
                template: ['<p>Value of "name" in directive : {{name}}</p>',
                '<p>Enter new Name: <input type="text" ng-model="name"/></p>',
                '<p>Value of age in directive : {{age}}</p>',
                '<p>Enter a new age: <input type="text" ng-model="age"/></p>',
                '<p>Alert from Directive: <button ng-click="func();">Alert the name</button></p>'].join('')
            }
        });

        app.controller('myCtrl', ['$scope', '$log', function (s, l) {
           s.name="Manjunath V A";
           s.age=25;
           s.alertTheName=function(){
               alert(s.name);
           }
        }])

    </script>
</body>

</html>